<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hunter Negron: Essays</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Hunter's website.">
        <meta name="robots" content="index, follow">
        <link rel="shortcut icon" href="favicon.png"  type="image/png" />
        <link rel="canonical" href="https://hnegron.com">
        <link rel="stylesheet" href="style.css" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    </head>
    <body>
        <header hx-get="header.html" hx-trigger="load"></header>
        <nav hx-get="nav.html" hx-trigger="load"></nav>
        <article hx-get="sample.html" hx-trigger="load"></article>
        <footer hx-get="footer.html" hx-trigger="load"></footer>
    </body>
</html>