<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Standards of the Faith - Hunter Negron</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Hunter's website.">
        <meta name="robots" content="index, follow">
        <link rel="shortcut icon" href="favicon.png"  type="image/png" />
        <link rel="canonical" href="https://hnegron.com">
        <link rel="stylesheet" href="../style.css" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    </head>
    <body>
        <header hx-get="../header.html" hx-trigger="load"></header>
        <h2>Standards of the Faith</h2>
        <p>Infallible Authority</p>
        <ul>
            <li><a href="https://av1611.com/">Bible</a></li>
        </ul>
        <p>Ecclesiastic Authority</p>
        <ul>
            <li><a href="creeds.html">Creeds</a></li>
            <li><a href="https://www.the1689confession.com/">Confession</a></li>
            <li><a href="https://1689.com/catechism/">Catechism</a></li>
        </ul>
        <p>Praise & Worship</p>
        <ul>
            <li><a href="">Psalter</a></li>
            <li><a href="">Hymnal</a></li>
            <li><a href="">Prayers</a></li>
        </ul>
        <p>Liturgy</p>
        <ul>
            <li><a href="">Calendar</a></li>
            <li><a href="">Reading Plan</a></li>
            <li><a href="">Pledge to the Flag</a></li>
            <li><a href="">Pledge to the Bible</a></li>
        </ul>
        <!-- <p>Discipleship & Evangelism</p>
        <ul>
            <li><a href="">Sermons</a></li>
            <li><a href="">Devotionals</a></li>
            <li><a href="">Books</a></li>
            <li><a href="">Tracts</a></li>
            <li><a href="">Memory Tools</a></li>
        </ul>
        <p>Study</p>
        <ul>
            <li><a href="">Deuterocanon/Apocrypha</a></li>
            <li><a href="">Dictionary</a></li>
            <li><a href="">Concordance</a></li>
            <li><a href="">Chain Reference</a></li>
            <li><a href="">Commentary</a></li>
        </ul> -->
        <footer hx-get="../footer.html" hx-trigger="load"></footer>
    </body>
</html>